body{
    background-image: url("images/skulls.png");
}
/* Navbar is fixed so this pushes it away from the top so its not under the nav */
.two {
    position: relative;
    top: 100px;
}
.card {
    background: transparent;
}
@media screen and (max-width: 768px) {
    .two {
        width: 600px;
    }
}