@font-face {
    font-family: name;
    src: url("../fonts/calling.otf");
}
body{
    font-family: name;
    background-image: url(../images/kitykatimg.png);
}

.options {
    position: fixed;
    margin-top: 5%;
    margin-left: 5%;
    background-color: brown;
}
.links {
    background-color: rgb(255, 161, 161);
}
a {
    color: black;
}
#nameAnimation {
    /* display: none; */
    margin-top: 200px;
    color:  rgb(255, 161, 161);
    opacity: 0.01;
}
.row {
    margin-top: 5%;
}
.nameOfCard {
    background-color: brown;
}
.cardInfo {
    background-color:  rgb(255, 161, 161);
}
.card {
    background-color: brown;
}

.show {
    z-index: 1;
}
.hide {
    z-index: 0;
}
.smallScreenHeader {
    display: none;
    background-color: brown;
    padding: 15px;
}
@media only screen and (max-width: 768px) {
    .options {
        display: none;
    }
    .card {
        margin: 5%;
    }
    .container-fluid {
        padding: 0;
    }
    .smallScreenHeader {
        display: block;
    }
}